.header-main.menu-vjshop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__content.menu-vjshop {
  z-index: 1000;
}

.header__right--bottom-bg.menu-vjshop {
  height: 48px;
  background: #89bc00;
  border-radius: 0 30px 0 0;
}

.header__right--item.menu-vjshop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo.menu-vjshop {
  padding-left: 20px;
}

.logo__bottom--bg.menu-vjshop {
  height: 48px;
  background: #89bc00;
  border-radius: 30px 0 0 0;
}

.search-button.menu-vjshop {
  padding-right: 36px;
}

nav.menu-vjshop {
  position: relative;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 80px;
  color: #505050;
}

.links.menu-vjshop {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.links.menu-vjshop a.menu-vjshop {
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.links.menu-vjshop a.menu-vjshop:hover {
  color: #000;
}

.links.menu-vjshop a.selected.menu-vjshop {
  color: #0070f3;
  font-weight: 600;
}

.links.menu-vjshop a.menu-vjshop:first-child,
.links.menu-vjshop a.menu-vjshop:last-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

a.icon.menu-vjshop,
a.icon.menu-vjshop>div.container {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

a.icon.menu-vjshop>div.container {
  overflow: visible;
}

.mobile-logo.menu-vjshop,
.mobile-top.menu-vjshop {
  display: none;
}

.header-feedback.menu-vjshop {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width:640px) {
  .mobile-logo.menu-vjshop {
    display: block;
  }

  nav.menu-vjshop {
    height: unset;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 1rem 0;
  }

  nav.menu-vjshop .links.menu-vjshop .logo.menu-vjshop,
  nav.menu-vjshop .links.menu-vjshop .icon.menu-vjshop {
    display: none;
  }

  nav.menu-vjshop .links.menu-vjshop a.menu-vjshop {
    font-size: 14px;
  }

  .mobile-top.menu-vjshop {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  .mobile-top.menu-vjshop>.icons.menu-vjshop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .mobile-top.menu-vjshop>.icons.menu-vjshop a.menu-vjshop:nth-child(2) {
    margin-left: 2rem;
  }
}

@media (max-width:950px) {
  .header-feedback.menu-vjshop {
    display: none;
  }
}

jss-server-side{

}
.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.MuiSvgIcon-colorPrimary {
  color: #006E7B;
}

.MuiSvgIcon-colorSecondary {
  color: #006E7B;
}

.MuiSvgIcon-colorAction {
  color: rgba(0, 0, 0, 0.54);
}

.MuiSvgIcon-colorError {
  color: #f44336;
}

.MuiSvgIcon-colorDisabled {
  color: rgba(0, 0, 0, 0.26);
}

.MuiSvgIcon-fontSizeInherit {
  font-size: inherit;
}

.MuiSvgIcon-fontSizeSmall {
  font-size: 1.25rem;
}

.MuiSvgIcon-fontSizeLarge {
  font-size: 2.1875rem;
}

.MuiButtonBase-root {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.MuiButtonBase-root::-moz-focus-inner {
  border-style: none;
}

.MuiButtonBase-root.Mui-disabled {
  cursor: default;
  pointer-events: none;
}

@media print {
  .MuiButtonBase-root {
    color-adjust: exact;
  }
}

.MuiIconButton-root {
  flex: 0 0 auto;
  color: #0A92CA;
  padding: 6px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
}

.MuiIconButton-root:hover {
  background-color: transparent;
}

.MuiIconButton-root.Mui-disabled {
  color: rgba(0, 0, 0, 0.26);
  background-color: transparent;
}

@media (hover: none) {
  .MuiIconButton-root:hover {
    background-color: transparent;
  }
}

.MuiIconButton-edgeStart {
  margin-left: -12px;
}

.MuiIconButton-sizeSmall.MuiIconButton-edgeStart {
  margin-left: -3px;
}

.MuiIconButton-edgeEnd {
  margin-right: 0;
}

.MuiIconButton-sizeSmall.MuiIconButton-edgeEnd {
  margin-right: -3px;
}

.MuiIconButton-colorInherit {
  color: inherit;
}

.MuiIconButton-colorPrimary {
  color: #0A92CA;
}

.MuiIconButton-colorPrimary:hover {
  background-color: rgba(0, 110, 123, 0.04);
}

@media (hover: none) {
  .MuiIconButton-colorPrimary:hover {
    background-color: transparent;
  }
}

.MuiIconButton-colorSecondary {
  color: #006E7B;
}

.MuiIconButton-colorSecondary:hover {
  background-color: rgba(0, 110, 123, 0.04);
}

@media (hover: none) {
  .MuiIconButton-colorSecondary:hover {
    background-color: transparent;
  }
}

.MuiIconButton-sizeSmall {
  padding: 3px;
  font-size: 1.125rem;
}

.MuiIconButton-label {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}

.MuiPopover-paper {
  border: 1px solid rgba(0, 0, 0, .15);
  outline: 0;
  position: absolute;
  max-width: calc(100% - 32px);
  min-width: 200px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  max-height: calc(100% - 32px);
  min-height: 16px;
  overflow-x: hidden;
  overflow-y: auto;
}

.MuiMenu-paper {
  max-height: calc(100% - 96px);
  -webkit-overflow-scrolling: touch;
}

.MuiMenu-paper.selectMenuDropdown {
  border: 1px solid #0A92CA;
  margin: 0 0 0 -1px;
  outline: 0;
  position: absolute;
  box-shadow: none;
  box-sizing: content-box;
  border-radius: 0;
}

.MuiMenu-paper .selectMenuList {
  padding: 2px;
  box-sizing: content-box;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

.MuiMenu-paper .selectMenuList li {
  padding-left: 6px;
  padding-right: 6px;
}

@media (max-width:599.95px) {
  .MuiMenu-paper .selectMenuList {
    min-width: 200px;
  }
}

.MuiMenu-list {
  outline: 0;
}

@media print {
  .MuiDialog-root {
    position: absolute !important;
  }
}

.MuiDialog-scrollPaper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiDialog-scrollBody {
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

.MuiDialog-scrollBody:after {
  width: 0;
  height: 100%;
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.MuiDialog-container {
  height: 100%;
  outline: 0;
}

@media print {
  .MuiDialog-container {
    height: auto;
  }
}

.MuiDialog-paper {
  margin: 32px;
  position: relative;
  overflow-y: auto;
}

@media print {
  .MuiDialog-paper {
    box-shadow: none;
    overflow-y: visible;
  }
}

.MuiDialog-paperScrollPaper {
  display: flex;
  max-height: calc(100% - 64px);
  flex-direction: column;
}

.MuiDialog-paperScrollBody {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.MuiDialog-paperWidthFalse {
  max-width: calc(100% - 64px);
}

.MuiDialog-paperWidthXs {
  max-width: 444px;
}

@media (max-width:507.95px) {
  .MuiDialog-paperWidthXs.MuiDialog-paperScrollBody {
    max-width: calc(100% - 64px);
  }
}

.MuiDialog-paperWidthSm {
  max-width: 600px;
}

@media (max-width:663.95px) {
  .MuiDialog-paperWidthSm.MuiDialog-paperScrollBody {
    max-width: calc(100% - 64px);
  }
}

.MuiDialog-paperWidthMd {
  max-width: 960px;
}

@media (max-width:1023.95px) {
  .MuiDialog-paperWidthMd.MuiDialog-paperScrollBody {
    max-width: calc(100% - 64px);
  }
}

.MuiDialog-paperWidthLg {
  max-width: 1280px;
}

@media (max-width:1343.95px) {
  .MuiDialog-paperWidthLg.MuiDialog-paperScrollBody {
    max-width: calc(100% - 64px);
  }
}

.MuiDialog-paperWidthXl {
  max-width: 1920px;
}

@media (max-width:1983.95px) {
  .MuiDialog-paperWidthXl.MuiDialog-paperScrollBody {
    max-width: calc(100% - 64px);
  }
}

.MuiDialog-paperFullWidth {
  width: calc(100% - 64px);
}

.MuiDialog-paperFullScreen {
  width: 100%;
  height: 100%;
  margin: 0;
  max-width: 100%;
  max-height: none;
  border-radius: 0;
}

.MuiDialog-paperFullScreen.MuiDialog-paperScrollBody {
  margin: 0;
  max-width: 100%;
}

.MuiFab-root {
  color: rgba(0, 0, 0, 0.87);
  width: 56px;
  height: 56px;
  padding: 0;
  font-size: 0.875rem;
  min-width: 0;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  min-height: 36px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  ;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 50%;
  text-transform: uppercase;
  background-color: #e0e0e0;
}

.MuiFab-root:active {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.MuiFab-root:hover {
  text-decoration: none;
  background-color: #d5d5d5;
}

.MuiFab-root.Mui-focusVisible {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.MuiFab-root.Mui-disabled {
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
}

@media (hover: none) {
  .MuiFab-root:hover {
    background-color: #e0e0e0;
  }
}

.MuiFab-root:hover.Mui-disabled {
  background-color: rgba(0, 0, 0, 0.12);
}

.MuiFab-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.MuiFab-primary {
  color: #fff;
  background-color: #006E7B;
}

.MuiFab-primary:hover {
  background-color: #005c67;
}

@media (hover: none) {
  .MuiFab-primary:hover {
    background-color: #006E7B;
  }
}

.MuiFab-secondary {
  color: #fff;
  background-color: #006E7B;
}

.MuiFab-secondary:hover {
  background-color: #005c67;
}

@media (hover: none) {
  .MuiFab-secondary:hover {
    background-color: #006E7B;
  }
}

.MuiFab-extended {
  width: auto;
  height: 48px;
  padding: 0 16px;
  min-width: 48px;
  min-height: auto;
  border-radius: 24px;
}

.MuiFab-extended.MuiFab-sizeSmall {
  width: auto;
  height: 34px;
  padding: 0 8px;
  min-width: 34px;
  border-radius: 17px;
}

.MuiFab-extended.MuiFab-sizeMedium {
  width: auto;
  height: 40px;
  padding: 0 16px;
  min-width: 40px;
  border-radius: 20px;
}

.MuiFab-colorInherit {
  color: inherit;
}

.MuiFab-sizeSmall {
  width: 40px;
  height: 40px;
}

.MuiFab-sizeMedium {
  width: 48px;
  height: 48px;
}

.jss92 {
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.jss93 {
  color: red;
}

.jss93:hover {
  color: #cd2227;
  opacity: 0.8;
}

.jss93:focus {
  color: #cd2227;
}

.jss1 {
  border: 1px solid rgba(0, 0, 0, .15);
  z-index: 99999;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  border-radius: 0;
}

.jss2 {
  background-color: #fff;
  border-left-color: #006E7B;
}

.jss3 {
  color: #fff;
  background-color: #262626;
}

.jss4 {
  background-color: #fff;
  border-left-color: #cd2227;
}

.jss5 {
  background-color: #fff;
  border-left-color: #ffdf31;
}

.jss123 {
  top: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  position: fixed;
  max-width: 800px;
  border-radius: 8px;
}

@media (max-width:599.95px) {
  .jss123 {
    top: 0;
    bottom: 0;
    max-height: unset;
  }
}

.jss124 {
  border: 1px solid #cbcbcb;
  display: flex;
}

.jss125:before {
  display: none;
}

.jss125:after {
  display: none;
}

@media (max-width:959.95px) {
  .jss125 {
    display: none;
  }
}

.jss126 {
  padding: 16px 24px;
}

.jss127 {
  flex: 1;
}

.jss128 {
  border: none;
  font-size: 28px;
  max-width: unset;
  box-shadow: none !important;
}

.jss129 {
  padding: 4px 12px;
}

.jss130 {
  height: 46px;
  font-size: 24px;
  padding-left: 0;
}

.jss131 {
  padding: 15px;
}

.jss132 {
  font-size: 1rem;
  list-style: none;
  padding-left: 0;
}

.jss134 {
  color: #000;
  cursor: pointer;
  display: block;
  padding: 3px 5px;
}

.jss134:hover {
  position: relative;
  background: #eee;
}

.jss134:hover:after {
  top: 50%;
  left: 100%;
  border: 14px solid transparent;
  content: "";
  z-index: 1;
  position: absolute;
  transform: translateY(-50%);
  border-left-color: #eee;
}

.jss135 {
  position: relative;
  background: #eee;
}

.jss135:after {
  top: 50%;
  left: 100%;
  border: 14px solid transparent;
  content: "";
  z-index: 1;
  position: absolute;
  transform: translateY(-50%);
  border-left-color: #eee;
}

.jss136 {
  display: block;
  padding: 8px 0;
  align-items: center;
}

.jss137 {
  border-left: 5px solid #eee;
}

.jss138 {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.jss139 {
  font-size: 0.875rem;
  margin-left: 8px;
}

.jss140 {
  display: grid;
  text-align: center;
  grid-row-gap: 1rem;
  grid-auto-rows: auto;
  grid-column-gap: 1rem;
  grid-auto-columns: max-content;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.jss141 {
  right: 16px;
  bottom: 80px;
  display: flex;
  z-index: 9999999;
  position: fixed;
  align-items: start;
}

.jss142 {
  width: 56px;
  height: 56px;
  background: #54BA0F;
}

.jss142:hover {
  background: #54BA0F;
  background-color: #54BA0F;
}

.jss143 {
  color: #fff;
}

.jss144 {
  padding: 1rem 1.5rem;
  position: relative;
}

.jss145 {
  width: 100%;
}

.jss38 {
  width: 100%;
  margin: 0 auto;
}

@media (min-width:1920px) {
  .jss38 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width:599.95px) {
  .jss38 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width:1920px) {
  .jss39 {
    padding: 0 !important;
  }
}

@media (max-width:959.95px) {
  .jss39 {
    padding: 0 !important;
  }
}

.jss40 {
  max-width: 1350px;
  padding-left: 10px;
  padding-right: 10px;
}

.jss41 {
  background: hsl(0, 0%, 10%);
}

.jss42 {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width:959.95px) {
  .jss43 {
    padding: 0 !important;
  }
}

.jss44 {
  display: flex;
}

.jss45 {
  border: none;
  background: #006E7B;
  border-radius: 0;
}

.jss46 {
  border-radius: 10px 10px 0 0;
}

.jss47 {
  padding: 30px 10px 10px;
  text-align: left;
}

.jss49 {
  flex: 1;
  cursor: pointer;
  transition: all 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
  webkit-tap-highlight-color: transparent;
}

.jss49:hover .jss58 {
  transform: scale(1.15);
}

.jss49:hover .jss64 {
  opacity: 1;
}

.jss51 {
  position: relative;
}

.jss52:before {
  top: 6px;
  width: 180px;
  height: 90px;
  content: "";
  z-index: -1;
  position: absolute;
  background: #006E7B;
  border-radius: 180px 180px 0 0;
  pointer-events: none;
}

.jss53 {
  transform: scale(0) !important;
  pointer-events: none;
}

.jss54:before {
  width: 180px;
  bottom: -16px;
  height: 180px;
  content: "";
  opacity: 1;
  z-index: -1;
  position: absolute;
  background: #006E7B;
  transition: all 0.1s ease;
  border-radius: 100%;
}

.jss55:before {
  opacity: 0 !important;
}

.jss56 {
  opacity: 0 !important;
}

.jss57 {
  color: #fff !important;
  transition: none;
}

.jss58 {
  z-index: 999999;
  transform: scale(1);
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
}

.jss58.jss65 {
  opacity: 0.5;
}

.jss59 {
  background-color: #393a3d;
}

.jss61 {
  opacity: 1;
  background-color: #fff;
}

.jss62 {
  background-color: #fff;
}

.jss63 {
  color: #606469;
  height: 40px;
  display: flex;
  z-index: 100;
  font-size: 14px;
  transform: scale(1);
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  ;
  font-weight: 500;
  text-transform: uppercase;
  justify-content: center;
}

.jss64 {
  transition: all 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.jss65 .jss64 {
  opacity: 0.5;
}

.jss65 {
  color: #fff;
}

.jss66 {
  color: #fff;
}

.jss67 {
  color: #393a3d;
}

.jss49:hover .jss67 {
  color: #393a3d;
}

.jss68 {
  color: inherit;
  transition: all 0.35s ease;
}

.jss69 {
  position: relative;
}

.jss70 {
  color: #fff;
  background: #006E7B;
}

.jss71 {
  left: calc(50% - 109px);
  width: 218px;
  bottom: 0;
  height: 16px;
  opacity: 0;
  z-index: 10;
  position: absolute;
  background: #006E7B;
  transition: all 0.1s ease;
  pointer-events: none;
}

.jss71:before {
  left: -14px;
  width: 109px;
  bottom: 0;
  height: 109px;
  content: "";
  opacity: 0;
  position: absolute;
  background: #f3f3f3;
  transition: all 0.1s ease;
  border-radius: 0 0 92px 0;
  pointer-events: none;
}

.jss71:after {
  right: -14px;
  width: 109px;
  bottom: 0;
  height: 109px;
  content: "";
  opacity: 0;
  position: absolute;
  background: #f3f3f3;
  transition: all 0.1s ease;
  border-radius: 0 0 0 92px;
  pointer-events: none;
}

.jss72 {
  opacity: 1 !important;
}

.jss73 {
  opacity: 0 !important;
}

.jss74 {
  opacity: 0 !important;
}

.jss75 {
  left: calc(50% - 90px);
  width: 180px;
  bottom: -8px;
  opacity: 1;
}

.jss75:before {
  top: 10px;
  left: -28px;
  width: 109px;
  height: 52px;
  content: "";
  opacity: 1;
  position: absolute;
  background: #f3f3f3;
  border-radius: 0 92px 0 0;
  pointer-events: none;
}

.jss75:after {
  top: 10px;
  right: -28px;
  width: 109px;
  height: 52px;
  content: "";
  opacity: 1;
  position: absolute;
  background: #f3f3f3;
  border-radius: 92px 0 0 0;
  pointer-events: none;
}

.jss76 {
  opacity: 1;
}

.jss76:before,
.jss76:after {
  opacity: 1;
  background: #006E7B;
}

.jss77:before,
.jss77:after {
  opacity: 1 !important;
  background: #f3f3f3;
}

body.white .jss77:before,
body.white .jss77:after {
  background: #fff;
}

.jss78:before,
.jss78:after {
  background: #fff;
}

.jss79 {
  max-width: 250px;
}

.jss80 {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 30px;
}

.jss81 {
  display: flex;
  padding: 0 0 1rem 1rem;
  max-width: 49%;
  flex-basis: 24.5%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -ms-flex-preferred-size: 24.5%;
}

.jss82 {
  width: 100px;
  height: 100px;
  display: block;
  padding: 10px;
  overflow: hidden;
  transform: scale(1);
  background: #fff;
  transition: 0.5s;
  border-radius: 50%;
}

.jss82:hover {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 2px 1px 0 rgba(20, 23, 28, .1);
}

.jss83 {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.jss83:hover {
  transform: scale(1.03);
  transition: 0.5s;
}

.jss84 {
  display: flex;
}

.jss85 {
  align-items: center;
}

.jss86 {
  display: flex;
  font-size: 0.875rem;
  align-items: flex-start;
  font-weight: 600;
  flex-direction: column;
  text-transform: uppercase;
}

.jss87 {
  color: #fff;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.jss87:hover {
  color: #fff;
  opacity: 0.8;
  text-decoration: underline;
}

.jss88 {
  color: #fff;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.jss88:hover {
  color: #fff;
  opacity: 1;
  text-decoration: underline;
}

.jss89 {
  display: flex;
  padding: 0;
  flex-flow: row wrap;
  margin-top: 0.25rem;
  margin-left: 1rem;
  padding-left: 1.0625rem;
}

.jss90 {
  flex: 1 0 50%;
  color: #fff;
  opacity: 0.85;
  font-size: 0.875rem;
  max-width: 50%;
  transition: opacity 0.2s ease;
  font-weight: 400;
  line-height: 1.25rem;
  white-space: nowrap;
  margin-bottom: 0.5rem;
}

.jss90:hover {
  opacity: 1;
  text-decoration: underline;
}

.jss91 {
  display: block;
}

.jss91>* {
  max-width: 100%;
}

.jss94 {
  order: 3;
  margin-right: 4px;
}

@media (max-width:959.95px) {
  .jss94 {
    flex: 1;
  }
}

.jss96 {
  width: 350px;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  ;
}

.jss97 {
  color: #6e6e73;
  margin: 0;
}

.jss98 {
  font-size: 28px important;
}

.jss100 {
  margin: 0 0 0 2.933%;
  padding: 18px 0 20px;
  font-size: 1rem;
  font-weight: 700;
  border-bottom: 1px dotted #ddd;
}

.jss101 {
  margin: 0 15px;
  padding: 16px 0 14px;
  overflow: hidden;
  border-bottom: 1px dotted #ddd;
}

.jss102 {
  float: left;
  width: 100%;
  max-width: 55px;
  margin-right: 10px;
}

.jss103 {
  font-size: 12px;
  line-height: 18px;
}

.jss104 {
  color: #fff;
  width: 70%;
  margin: 30px auto 20px;
  display: block;
  font-size: 0.875rem;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  text-decoration: none;
  background-color: #1a5888;
}

.jss104:hover {
  color: #fff;
  text-decoration: underline;
}

.jss105 {
  margin: 0;
  padding: 0;
  border-top: 1px solid #f2f2f2;
}

.jss106 {
  color: #06c;
  display: flex;
  padding: 0;
  overflow: hidden;
  align-items: center;
  line-height: 44px;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: -0.016em;
  text-decoration: none;
}

.jss107 {
  display: flex;
  align-items: center;
}

.jss108 {
  padding-left: 6px;
}

.jss24 {
  display: flex;
}

.jss25 {
  position: relative;
}

@media (max-width:959.95px) {
  .jss25 {
    display: none;
  }
}

.jss26 {
  display: none;
}

@media (max-width:959.95px) {
  .jss26 {
    display: block;
  }
}

.jss27 {
  z-index: 10;
  position: relative;
}

@media (max-width:959.95px) {
  .jss27 {
    display: none !important;
  }
}

.jss28 {
  z-index: 250;
}

.jss29 {
  height: 40px;
  border-radius: 10px 0 0 0;
  background-color: #006E7B;
}

.jss30 {
  height: 40px;
  position: relative;
  border-radius: 0 10px 0 0;
  background-color: #006E7B;
}

.jss30:before {
  top: 0;
  left: -4px;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  border-radius: 0 10px 0 0;
  background-color: #006E7B;
}

.jss31 {
  height: 40px;
}

.jss32 {
  color: #fff;
  display: flex;
  z-index: 1000;
  flex-basis: 128px;
  flex-direction: column;
}

.jss33 {
  color: #006E7B;
}

.jss34 {
  height: 40px;
  display: flex;
}

.jss35 {
  transform: scale(0) !important;
  pointer-events: none;
  transition-delay: 0.15s;
}

.jss36 {
  font-size: 32px;
  transform: scale(1);
  transition: 0.2s;
}

.jss37 {
  transition: 0.35s;
}

.jss18 {
  width: 100%;
  display: flex;
  z-index: 250;
  background: #fff;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.jss19:before {
  top: 16px;
  left: 0;
  right: 0;
  height: 42px;
  content: "";
  position: absolute;
  background: #006E7B;
}

.jss20 {
  height: 16px;
  background: transparent;
}

@media (max-width:959.95px) {
  .jss20 {
    display: none;
  }
}

.jss21 {
  top: 16px;
  position: sticky;
}

.jss22 {
  background: #006E7B;
}

.jss122 {
  right: 16px;
  bottom: 76px;
  z-index: 9999;
  position: fixed;
  font-size: 48px;
}

@media (max-width:959.95px) {
  .jss122 {
    display: none;
  }
}

.jss120 {
  right: 16px;
  bottom: 76px;
  z-index: 9999;
  position: fixed;
  font-size: 48px;
}

@media (max-width:959.95px) {
  .jss120 {
    display: none;
  }
}

.jss110 {
  padding-bottom: 16px;
  vertical-align: top;
}

.jss111 {
  display: flex;
  transition: opacity 0.25s ease;
  flex-direction: column;
}

.jss112 {
  opacity: 0.65;
}

.jss113 {
  top: 4px;
  color: #9e9e9e;
  right: 4px;
  position: absolute;
}

.jss114 {
  margin: 8px;
}

.jss116 {
  display: flex;
}

.jss117 {
  display: flex;
  padding: 0 8px;
  align-items: center;
  flex-direction: row;
}

.jss118 {
  color: #fff;
  border: none;
  cursor: pointer;
  height: 40px;
  display: flex;
  outline: none;
  padding: 4px 10px;
  align-items: center;
  margin-left: 6px;
  border-radius: 4px;
  background-color: #4267B2;
}

.jss119 {
  color: #065879;
}

.jss7 {
  border-radius: 8px;
  background-color: #fff;
}

.jss8 {
  margin-right: -10px;
}

.jss9 {
  margin-right: -10px;
}

@media (max-width:959.95px) {
  .jss9 {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.jss10 {
  width: unset;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media (max-width:959.95px) {
  .jss10 {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.jss11 {
  margin-bottom: 0;
  background-color: #fff;
}

.jss11:hover:after {
  opacity: 0;
}

.jss12 {
  margin-top: 0.55rem;
}

@media (max-width:959.95px) {
  .jss12 {
    margin-top: 0;
  }
}

.jsx-1645540532 .jss1318 {
  font-size: 48px;
  margin-top: 2rem;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 1rem;
}

.jsx-1645540532 {
  margin: 0;
  line-height: 1.5;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.jss1311 {
  height: 500px;
  z-index: 250;
  position: relative;
  background: #006E7B;
  padding-top: 50px;
  border-radius: 0 0 10px 10px;
  margin-left: -10px;
  margin-right: 10px;
}

.jss1317 {
  color: #fff;
  padding: 0 50px;
  flex-basis: 55%;
  padding-left: 100px;
}

.jss1315 {
  display: flex;
}

.slick-slide img {
  display: block;
}

.slick-slide img {
  margin: auto;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

.jss1316 {
  width: 90%;
  margin: 0 auto;
  max-width: 450px;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

.MuiGrid-spacing-xs-3>.MuiGrid-item {
  padding: 6px;
}

/* @media (min-width: 960px) .MuiGrid-grid-md-12 {
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
} */

.MuiGrid-grid-xs-12 {
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
}

.MuiGrid-item {
  margin: 0;
  box-sizing: border-box;
}

.jss1192 {
  max-width: 1350px;
  padding-left: 10px;
  padding-right: 10px;
}

.jss1190 {
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  transform: translateZ(0);
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list,
.slick-slider {
  display: block;
}

.slick-list .slick-track {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  width: 2072px;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  transform: translateZ(0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.jss1604 {
  width: unset;
  margin-right: 0;
}

.jss1348 {
  width: 23%;
  margin-right: 10px;
}

.jss1605 {
  border: 0;
  border-left: none;
  margin-bottom: 0;
  background-color: #fff;
}

.jss1360 {
  width: 100%;
  border: 1px solid #ededed;
  height: 345px;
  padding: 1.125rem;
  position: relative;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
}

.jss1386 {
  width: 99%;
  height: 150px;
  margin: 0 auto;
  padding: 10px 0 0;
  z-index: 100;
  position: relative;
  text-align: center;


}

.jss349 {
  padding: 18px 0 0;
  z-index: 100;
  position: relative;
}

.jss356 {
  height: 50px;
}

.jss377 {
  color: #1A5888;
  margin: 0 0 0.875rem;
}

.jss352 {
  text-align: center;
}

.jss362 {
  margin: 0 0 0.25rem 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.jss312 {
  font-size: 24px;
}

.jss361 {
  color: #000;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
}

.jss348 {
  margin-left: 4px;
  margin-right: 4px;
}

.jss402 {
  color: #767676;
  margin: 0 auto;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.75rem;
}

.jss348 {
  text-align: right;
  color: #ca4f00;
  font-size: 13px;
  margin-bottom: 10px;
}

.jss343 {
  display: flex;
  overflow: hidden;
  align-items: center;
  margin-bottom: 1rem;
}

.jss363 {
  color: #606469;
  margin: 0;
  font-size: 14px;
  text-decoration: line-thr ough;
}

.jss344 {
  color: #ca4f00;
  font-size: 14px;
  margin-left: 8px;
  text-transform: uppercase;
}

.jss312 {
  font-size: 24px;
}

.jss361 {
  color: #000;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
}

.jss405 {
  margin-top: 0.25rem;
}

.jss406 {
  height: 0.25rem;
  transition: width 1000ms ease-out;
  background-color: #ca4f00;
}

.jss404 {
  color: #ca4f00;
  display: inline-block;
  font-weight: 600;
}

.jss403 {
  margin-right: 0.1875rem;
}

.jss402 {
  color: #767676;
  margin: 0 auto;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.75rem;
}

.jss226 {
  color: #393a3d;
  margin: 50px 0 10px;
  display: flex;
  z-index: 200;
  overflow: hidden;
  position: relative;
  box-shadow: none;
  align-items: center;
  justify-content: space-between;
}

.jss227 {
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 2.5rem;
  white-space: nowrap;
  margin-right: 30px;
}

.MuiTypography-h2 {
  color: #333333;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

}

.jss228 {
  display: flex;
  box-shadow: none;
  align-items: center;
}

.jss229 {
  display: flex;
  position: relative;
  align-items: center;
  font-weight: 600;
  padding-left: 6px;
  padding-right: 6px;
}

.jss231 {
  display: flex;
  align-items: center;
}

.jss231 span {
  line-height: 1.5;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 16px;
}

.jss691 {

  font-size: 24px;
}

.jss691 {
  color: #fff;
  padding: 50px 0 30px;
  text-align: center;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  text-transform: uppercase;
  justify-content: space-between;
}

.MuiToolbar-regular {
  min-height: 56px;
}
.MuiToolbar-gutters {
  padding-left: 8px;
  padding-right: 8px;
}
.MuiToolbar-root {
  display: flex;
  position: relative;
  align-items: center;
}

